@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --color-secondary: #1c1c1c;
  --color-therd: #252525;
  
  --color-dark-primary: #ffff00;
  --color-background-light: #ffffff;
  --secondary-background-light: #f8f9fa;
  --color-card-light: #f5f5f5;
  --color-text-light: #212529;
  --secondary-text-light: #343a40;

  --color-light-primary: #0d6efd;
  --color-background-dark: #1c1c1c;
  --secondary-background-dark: #252525;
  --color-card-dark: #2f2f2f;
  --color-text-dark: #f1f1f1;
  --secondary-text-dark: #A0A0A0; /* #E0E0E0; */
}

[data-theme="dark"] {
  --color-primary: var(--color-dark-primary);
  --color-background: var(--color-background-dark);
  --color-background-secondary: var(--secondary-background-dark);
  --color-card: var(--color-card-dark);
  --color-text: var(--color-text-dark);
  --color-text-secondary: var(--secondary-text-dark);
}

[data-theme="light"] {
  --color-primary: var(--color-light-primary);
  --color-background: var(--color-background-light);
  --color-background-secondary: var(--secondary-background-light);
  --color-card: var(--color-card-light);
  --color-text: var(--color-text-light);
  --color-text-secondary: var(--secondary-text-light);
}
